@import 'bootstrap/dist/css/bootstrap.min.css';

@import 'bootstrap-icons/font/bootstrap-icons.min.css';


.header-bg{
    background: url('../image/header-bg.png');
    height: 15vw;
    background-size: cover;
    background-position: center center;
}